
body {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    height: 50vh;
    width: 95vw;
}

#autocomplete-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background: lightblue;
    padding: 20px;
    form label {
        padding-right: 10px;
    }
}

#results {
    li {
        list-style-type: none;
    }
}
